venv/
.venv/
env/
ENV/

node_modules/
__pycache__/
*.pyc

*.exe
*.dll
*.jar
*.log

dist/
build/
out/
bin/

/target/
main
.env
.vscode/

*.bin
*.safetensors
*.pt
*.onnx
data/*.parquet
data/*.csv
models/
